@import '../../../../defaults/defaults.scss';

.overlay{
    background: $color2;
    width: 18px;
    height: 18px;
    border-radius: 50px;
    position: absolute;
    top: 12px; 
    z-index: 2;
    transition-property: left;
}