$color1: #394264; //Calculator background
$color2: #11a8ab; //Interactive element.
$color3: red; //on active
$color4: white; //text
$color5: rgba(256, 256, 256, 0.1); 
$color6: rgba(256, 256, 256, 0.4);
$color7: rgba(0, 0, 0, 0.1);
$color8: #4D5574;
$defaultUnit: I; //I for Metric   |   I for Imperial
$defaultGender: F; //M for Male   |   F for Female
$defaultFormula: KM; //MSJ for Mifflin-St Jeor   |   KM for Katch-McArdle   |   HB for Harris-Benedict
$overlay: transparent;

:export {
    defaultUnit: $defaultUnit;
    defaultGender: $defaultGender;
    defaultFormula: $defaultFormula;
}