@import '../../defaults/defaults.scss';

#FrontLayer {
    max-width: 500px;
    min-width: 250px;
    height: auto;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    background: $color1;
}