@import '../../../defaults/defaults.scss';

button {
    background: $color2;
    outline: none;
    border-width: 0;
    color: $color4;
    padding: 0 20px;
    text-transform: uppercase;
    user-select: none;
    &:focus {
        outline: none;
    }
    &:hover {
        cursor: pointer;
        // box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 4px 12px -2px rgba(0, 0, 0, 0.3);
    }
    svg {
        position: relative;
        display: block;
        transform: translate(-50%);
    }
    &.icon {
        width: 40px;
    }
}

.ripple-container {
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	pointer-events: none;
	overflow: hidden;
}

.ripple-effect {
	margin-top: 0px;
	margin-left: 0px;
	width: 1px;
	height: 1px;
	background-color: rgba(0, 0, 0, 0.033);
	transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
	border-radius: 50%;
    pointer-events: none;
    &.light {
        background-color: rgba(255, 255, 255, 0.15);
    }
    &.dark {
        background-color: rgba(0, 0, 0, 0.075);
    }
}








