.Field {
    height: auto;
    min-height: 40px;
    width: 96%;
    margin: 5px 0;
    align-self: center;
    display: flex;
    &.whole {
        width: 100%;
        margin-top: 0;
    }
    .label {
        font-size: 1em;
        height: 100%;
        width: 80px;
        margin: 0;
        padding: 0 10px;
        text-align: center;
        line-height: 40px;
        text-transform: uppercase;
    }
    .content {
        height: 40px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        position: relative;
        // z-index: 100;
        &.end {
            justify-content: flex-end;
            button { margin-left: 10px }
        }
    }
}