body {
    background: black;
    color: white;
    font-size: 16px;
    font-family: 'Oswald', sans-serif !important;
    font-weight: 700;
    letter-spacing: 1px;
    button, {
        font-size: 1em;
        font-weight: 700;
        line-height: 40px;
        font-family: 'Oswald', sans-serif !important;
    }
    .content {
        font-family: 'Archivo', sans-serif;
    }

}

// @media only screen and (max-width: 300px) {
//     body {
//         font-size: 12px;
//     }
//   }