@import '../../../defaults/defaults.scss';

a.button{
    // width: 50%;
    // background: $color5;
    // button {
    //     background: inherit;
    //     width: 100%;
    //     height: 100%;
    //     border: none;
    //     color: $color4;
    //     &:focus {
    //         outline: none;
    //     }
    //     &:hover {
    //         cursor: pointer;
    //     }
    // }
    // &.active {
    //     background: $color1;
    //     button:hover {
    //         cursor: default;
    //     }
    // }
}
a.button {
    width: 50%;
    button {
        background: $color8;
        width: 100%;
        height: 100%;
        &:disabled {
            background-color:red !important;
        }
    }
    &.active button {
        background-color: $color1; //!important;
    }
}